.footer {
    background: darken($color-bg, 4%);
    border-top: .2rem solid $color-primary;
    border-image: none;
    margin: 0;
    padding: 2rem;
    position: relative;

    @media (prefers-color-scheme: dark) {
        background: $color-bg--dark;
        color: $color-text--dark;
    }

    > div {
        background: none;
        padding: 0;
    }

    input[type="submit"] {
        font-size: 80%;
    }

    p {
        margin-top: 1em;
    }

    select {
        background: $color-bg;

        @media (prefers-color-scheme: dark) {
            background: lighten($color-bg--dark, 4%);
        }
    }
}