.jush {
    color: #000;

    @media (prefers-color-scheme: dark) {
        color: #c9c9c9;
    }

    a {
        color: $color-primary;
    }

    &.sqlarea {
        background: darken($color-bg, 3%);
        /* stylelint-disable-next-line declaration-no-important */
        border: none !important;
        border-radius: .2rem;
        color: $color-text;
        font-size: 1.4rem;
        /* stylelint-disable-next-line declaration-no-important */
        padding: 2rem !important;
        /* stylelint-disable-next-line declaration-no-important */
        height: auto !important;
        margin-bottom: 2rem;

        &:hover {
            background: darken($color-bg, 4%);
        }

        &:focus {
            background: darken($color-bg, 6%);
            box-shadow: 0 .2rem .5rem 0 rgba(#000, .26);
            outline: none;
        }

        @media (prefers-color-scheme: dark) {
            background: darken($color-bg--dark, 2%);
            color: $color-text--dark;

            &:hover {
                background: $color-bg--dark;
            }

            &:focus {
                background: $color-bg--dark;
            }
        }
    }
}
