.error, .message {
    padding: .8em 1em;
    margin-bottom: 1.4em;
    border-radius: .4rem;
}

.message {
    background: rgba($color-message, .16);
    border: .2rem solid $color-message;
    color: $color-message;
}

.error {
    background: rgba($color-error, .16);
    border: .2rem solid $color-error;
    color: $color-error;
}