#schema  {
    margin: 0;

    .table {
        background: darken($color-bg, 4%);
        border: .1rem solid darken($color-bg, 10%);
        font-size: 1.2rem;
        margin: 0;
        padding: 1em;

        @media (prefers-color-scheme: dark) {
            background-color: $color-bg--dark;
            border-color: $color-bg--dark;
        }
    }
}